
.paginaInicio{

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 2560px;
    min-width: 850px;

}

.presentacion{

    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: aquamarine;
    margin-top: 2%;
    
}