
.paginaInicio{

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 2560px;
    min-width: 1000px;

}

.presentacion{

    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgba(6, 56, 75, 0.907);
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
    
}