
.agendar_cita {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .agendar_cita button{
    
    margin-top: 5%;
  }

  .lista_citas{

    margin-bottom: 23%;
  }
  