
mat-card{

    padding: 1.5rem;
    margin: 0 auto;
    background-color: lightgray;

}

form{

    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(144, 238, 144, 0.513);
}

form h2{

    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(6, 111, 153);
    text-align: center;
}


.campos-field{

    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
}

.pie_login{

    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 5%;
}


button{

    margin-top: 5%;
    margin-left: 39%;
}

button:hover{

    background-color: lightblue;
}

div{

    background-color: lightcoral;
}
