
<div *ngIf="alert" class="alert alert-danger alert-dismissible" role="alert" data-auto-dismiss>

  <strong>Acceso invalido!</strong> Verificar el nombre de usuario y/o la contraseña
</div>


<mat-card>

  <form [formGroup]="usuarioLogin" (ngSubmit)="ingresoLogin()">


    <h2>Login <mat-icon  fontIcon="pets"></mat-icon></h2>

    

    <mat-form-field class="campos-field">

      <input matInput placeholder="Usuario" formControlName="usuario">
    </mat-form-field>


    <mat-form-field class="campos-field">

      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button [disabled] = "!usuarioLogin.valid">Iniciar sesion</button>

    <h4 class="pie_login"> Si no tienes una cuenta de click aqui: <a href="#">Crear cuenta</a></h4>

  </form>
  
</mat-card>

