
<div class="citas_medicas">

  <p>
    Lista de citas medicas 
  </p>
</div>

<button mat-raised-button color="primary" (click)="regresar_cita_agendar()">Regresar al menu de citas</button>

<br><br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
  <ng-container matColumnDef="nombre_paciente">
    <th mat-header-cell *matHeaderCellDef> Nombre del paciente </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_paciente}} </td>

  </ng-container>

  <ng-container matColumnDef="tipo_servicio">
    <th mat-header-cell *matHeaderCellDef> Tipo de servicio </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo_servicio}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_cita">
    <th mat-header-cell *matHeaderCellDef> Fecha de la cita </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_cita.toLocaleDateString()}} </td>
  </ng-container>

  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef> Hora </th>
    <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
  </ng-container>

  <ng-container matColumnDef="veterinario">
    <th mat-header-cell *matHeaderCellDef> Veterinario</th>
    <td mat-cell *matCellDef="let element"> {{element.veterinario}} </td>
  </ng-container>

  <!--Columna para accion de eliminar-->
  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="eliminarRegistro(element)">
        <mat-icon class="eliminar">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
