<!--Cabecera de la pagina-->
<mat-toolbar class="cabecera" >

  <mat-icon class="icono" fontIcon="pets"></mat-icon>

  <span class="banner">Veterinaria <p>Mascota feliz</p></span>

<!--Enlaces del banner-->
  <div class="espacio"></div>
  <span class="banner2"> <a href="http://localhost:4200/Pagina_inicio">Inicio</a> </span>

  <div class="espacio"></div>
  <span class="banner2"> <a href="http://localhost:4200/Quienes_somos">Quienes somos</a> </span>



  <!--seccion de citos-->
  <div class="espacio"></div>
  <div *ngIf="sharedService.getRoles() === 2  ">
  <span class="banner2"> <a href="http://localhost:4200/Citas_medicas">Citas</a> </span>
</div>

<!--seccion de registo-->


<div class="espacio"></div>

<!--seccion de Productos-->
<div *ngIf="sharedService.getRoles() ===1 ">
  <span class="banner2"> <a href="http://localhost:4200/Productos">Productos</a> </span>
</div>

<!--seccion de Productos-->



<div class="espacio"></div>
<!--seccion de registo-->

  <div *ngIf="sharedService.getRoles() === 1">
  <span class="banner2"> <a href="http://localhost:4200/Registros">Registros</a> </span>
  </div>

<!--seccion de registo-->


  <div class="espacio"></div>
  <span class="banner2"> <a href="http://localhost:4200/Contactos">Contactos</a> </span>

  <div class="espacio"></div>


  <div *ngIf="2 === temp">
    <button mat-icon-button class="icono_inicio_sesion" (click)="inicioSesion()">
      <mat-icon>account_box</mat-icon>
    </button>
  </div>

  <div *ngIf="1 === temp "  >
    <div class="nombre-usuario-container">
    <span class="nombre_usuario">Bienvenido <br> Usuario</span>
    <div class="espacio"></div>
    <button mat-button class="boton_cerrar_sesion" (click)="cerrarSesion()">
      Cerrar sesion
    </button>
  </div>
  </div>
  
</mat-toolbar>