

/*Selector de la barra de la cabecera*/
.cabecera{

    background-color: rgba(15, 107, 138, 0.839);
    border-bottom: solid 2px;
    
  }

  .icono{

    color: white;
  }

/*Espacio entre span y boton*/
  .espacio{

    display: flex;
    flex: 1 1 auto;
  }
  /*Icono del boton de la cabecera*/
  
  .icono_inicio_sesion{

    color: black;
    border: px solid white;
  }

  .icono_inicio_sesion:hover{

    background-color: orange;
  }

  


  /*Titulo del banner*/
  .banner{

    font-size: 1.5rem;
  }