
.campos-field {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
}



mat-card{

    padding: 0.2rem;
    background-color: lightgray;
}

form{

    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(144, 238, 144, 0.513);
}

.registro_modificar{

    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 1%;
}

mat-card-title{

    font-size: 1.2rem;
}