<mat-card>

  <form>
    <div class="registro_modificar">
      <mat-card-title>Modificar paciente🐾</mat-card-title>
    </div>
  
    <!-- Campos del formulario -->
  

    <mat-form-field class="campos-field">
      
      <input type="text" [(ngModel)]="nuevaCedulaDueno" name="cedula_dueno">
    </mat-form-field>

    <mat-form-field class="campos-field">
      
      <input type="text" [(ngModel)]="nuevoNombreDueno" name="nombre_dueno">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaNombreMascota" name="nombre_mascota">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaRaza" name="raza">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaEdad" name="edad">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaDireccion" name="direccion">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevoTelefonoDueno" name="telefono_dueno">
    </mat-form-field>
  
  
    <!-- Botones de guardar y cancelar -->
    <button mat-raised-button color="primary" (click)="guardarCambios()">Guardar cambios</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
  </form>

</mat-card>
