
    <!--<main class="q_somos">

  <p>Somos una veterinaria nacida de la necesidad de los dueños de mascotas
    de cuidar de la salud de sus mascotas y curar distintas dolencias de estas al
    precio mas accesible posible para los usuarios, con la mejor calidad del
    mercado actual.</p>

   
  <div class="espacio_q_somos"></div>

  <p class="imagen">Imagen del interior veterinario con clientes, pacientes y veterinarios
    tratando alguna mascota, admeas de otras locaciones.</p>
 

</main>
 -->

 <main class="container">
  <div class="banner">
    <h1><strong><em>ACERCA DE NOSOTROS</em></strong></h1>
  </div>
  
  <section class="info-section">
    <h3><strong><em>MISIÓN</em></strong></h3>
    <p>Un servicio integral de Medicina Preventiva y Curativa que permita cubrir las necesidades de salud y cuidado de nuestros pacientes y contribuir al desarrollo del conocimiento de la medicina veterinaria en beneficio de la comunidad.</p>
  </section>
  
  <section class="info-section">
    <h3><strong><em>VISIÓN</em></strong></h3>
    <p>Convertirnos en un referente dentro de la Medicina Veterinaria y la comunidad en el diagnóstico y tratamiento de enfermedades de los animales de compañía a través de una oferta integral de nuestros servicios, personal capacitado y desarrollo de las áreas de especialidad.</p>
  </section>
  
  <section class="info-section" >
    <h3 ><strong><em>VALORES</em></strong></h3>
    <ul>
      <li>Integridad</li>
      <li>Ética profesional</li>
      <li>Respeto</li>
      <li>Rigor científico</li>
      <li>Organización</li>
      <li>Honestidad</li>
      <li>Disciplina</li>
      <li>Compromiso</li>
    </ul>
  </section>
</main>
