
<mat-card>

  <form>
    <div class="registro_modificar">
      <mat-card-title>Modificar producto 📦</mat-card-title>
    </div>
  
    <!-- Campos del formulario -->

    <mat-form-field class="campos-field">
      
      <input type="text" [(ngModel)]="nuevaMarca" name="marca">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaPrecioUnitario" name="precio_unitario">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaNombreProovedor" name="nombre_proveedor">
    </mat-form-field>
  
    <mat-form-field class="campos-field">
  
      <input type="text" [(ngModel)]="nuevaHechoPara" name="hecho_para">
    </mat-form-field>
  
  
    <!-- Botones de guardar y cancelar -->
    <button mat-raised-button color="primary" (click)="guardarCambios()">Guardar cambios</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
  </form>

</mat-card>

